<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.order.dao.OrderDAO">
 
 <insert id="addOrder" parameterType="com.project.order.model.Order" useGeneratedKeys="true" keyProperty="id">
 	INSERT 
 	INTO `order`
	(	`orderNumber`
		,`userId`
		,`recipient`
		,`zipcode`
		,`address1`
		,`address2`
		,`phoneNumber`
		,`createdAt`
		,`updatedAt`
		)
	VALUES
	(
		#{orderNumber}
		,#{userId}
		,#{recipient}
		,#{zipcode}
		,#{address1}
		,#{address2}
		,#{phoneNumber}
		,NOW()
		,NOW()
	)	
	
 </insert>
 
 <select id="selectOrderByOrderNumber" parameterType="map" resultType="com.project.order.model.Order">
 	SELECT
		id
		,orderNumber
		,userId
		,recipient
		,zipcode
		,address1
		,address2
		,phoneNumber
		,createdAt
		,updatedAt
	FROM
		`order`
	 WHERE
	 	`orderNumber` = #{orderNumber}
	 	AND
	 	`userId` = #{userId}
	 ORDER BY 
	 	`id` DESC
	 		
 </select>
 
 <select id="selectOrderIdListByUserId" parameterType="int" resultType="int">
 	SELECT
 		`id`
 	FROM
 		`order`
 	WHERE
 		`userId` = #{userId}
 	ORDER BY 
	 	`id` DESC

 </select>
 
 <select id="selectOrderNumberByOrderId" parameterType="int" resultType="String">
 SELECT
 		`orderNumber`
 	FROM
 		`order`
 	WHERE
 		`id` = #{orderId}
 </select>
 
 <select id="selectOrderList" resultType="com.project.order.model.Order">
 SELECT
		id
		,orderNumber
		,userId
		,recipient
		,zipcode
		,address1
		,address2
		,phoneNumber
		,createdAt
		,updatedAt
	FROM
		`order`<if test="direction == null">
			ORDER BY `id` DESC 
		</if>
		<if test="direction == 'next'">
			<![CDATA[
			WHERE `id` < #{standardId}
			]]>
			ORDER BY `id` DESC 
		</if>
		<if test="direction == 'prev'">
			<![CDATA[
			WHERE `id` > #{standardId}
			ORDER BY `id` ASC 
			]]>
		</if>
		 LIMIT ${limit}
 </select>
 
  <select id="selectOrderIdBySort" resultType="int">
 	SELECT
 		`id`
 	FROM
 		`order`
 	ORDER BY `id` ${sort} 
 	LIMIT 1
 </select>
 </mapper>