<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.orderItem.dao.OrderItemDAO">
 
 <insert id="addOrderItem" parameterType="com.project.orderItem.model.OrderItem">
	INSERT
	INTO `order_item`
	(	
		`orderId`
		,`productId`
		,`stockId`
		,`count`
		,`totalPrice`
		,`state`
		,`createdAt`
		,`updatedAt`
		)
	 VALUES
	 (	
	 	#{orderId}
		,#{productId}
		,#{stockId}
		,#{count}
		,#{totalPrice}
		,#{state}
		,NOW()
		,NOW()
		)
 </insert>
 
 <select id="selectOrderItemByOrderId" parameterType="int" resultType="com.project.orderItem.model.OrderItem">
 	SELECT
 		id
		,orderId
		,productId
		,stockId
		,count
		,totalPrice
		,state
		,createdAt
		,updatedAt
	FROM
		`order_item`
	WHERE
		`orderId` = #{orderId}
 
 </select>
 
 <update id="updateOrderItemStateByOrderItemIdAndChangeValue" parameterType="map">
 	UPDATE	`order_item`
 	SET
 		`state` = #{changeValue}
 	WHERE
 		`id` = #{orderItemId}
 
 </update>
 
 <update id="cancleOrderItemByOrderItemIdAndCount" parameterType="int">
 	UPDATE	`order_item`
 	SET
 		`state` = '주문취소'
 	WHERE
 		`id` = #{orderItemId}
 
 </update>
 </mapper>