<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.product.dao.ProductDAO">
 
 <insert id="insertProduct" parameterType="map">
 	INSERT 
 	INTO `product`
 	(
	 	productName
		,price
		,category
		,imagePath
		,createdAt
		,updatedAt
	)
 	VALUES
 	(
 		#{productName}
		, #{price}
		, #{category}
		, #{imagePath}
		, NOW()
		, NOW()
 	)
 </insert>
 
 <select id="selectProductList" resultType="com.project.product.model.Product">
 	SELECT 
	 	`id`
	 	, `productName`
		, `price`
		, `category`
		, `imagePath`
	FROM
		`product`
		<if test="direction == null">
			ORDER BY `id` DESC 
		</if>
		<if test="direction == 'next'">
			<![CDATA[
			AND `id` < #{standardId}
			]]>
			ORDER BY `id` DESC 
		</if>
		<if test="direction == 'prev'">
			<![CDATA[
			AND `id` > #{standardId}
			ORDER BY `id` ASC 
			]]>
		</if>
		 LIMIT ${limit}
 </select>
 
 <select id="selectProductIdBySort" resultType="int">
 	SELECT
 		`id`
 	FROM
 		`product`
 	ORDER BY `id` ${sort} 
 	LIMIT 1
 </select>
 
 <select id="selectProductByProductId" parameterType="int" resultType="com.project.product.model.Product">
  	SELECT
  		`id`,
		`productName`,
		`price`,
		`category`,
		`content`,
		`imagePath`,
		`createdAt`,
		`updatedAt`
	FROM
		`product`
	WHERE
		`id` = #{productId}
  </select>
 
 <update id="updateProductById" parameterType="map">
 	UPDATE `product`
 	SET
	 	`productName` = #{productName}
		, `price` = #{price}
		, `category` = #{category}
		, `updatedAt` = NOW()
		<if test="imagePath != null">, `imagePath` = #{imagePath}</if>
	WHERE
		`id` = #{productId}
  </update>
  
  <select id="selectProductNameByProductId" parameterType="int" resultType="String">
  	SELECT
  		`productName`
  	FROM
  		`product`
  	WHERE
  		`id` = #{productId}
  
  </select>
  
  <select id="selectProductByCategory" parameterType="int" resultType="com.project.product.model.Product">
 	SELECT
 		`id`
 		,`productName`
		,`price`
		,`category`
		,`imagePath`
		,`createdAt`
		,`updatedAt`
	FROM
		`product`
	<if test="category != null">
		WHERE category = #{category}
	</if>
	ORDER BY `id` DESC
	<if test="category == null">
	LIMIT 5
	</if>
 	 
  </select>
  
  <select id="selectProductNameAndId" resultType="com.project.product.model.Product">
  	SELECT
  		`id`
  		, `productName`
  	FROM
  		`product`
  </select>
  
  <update id="updateProductContentByProductId" parameterType="map">
		UPDATE `product`
 	SET
	 	`content` = #{content}
		, `updatedAt` = NOW()
	WHERE
		`id` = #{productId}
				  
  </update>
  
    <select id="selectPriceByProductId" parameterType="int" resultType="int">
  	SELECT
  		`price`
  	FROM
  		`product`
  	WHERE
  		`id` = #{productId}
  
  </select>


    <select id="selectImagePathByProductId" parameterType="int" resultType="String">
  	SELECT
  		`imagePath`
  	FROM
  		`product`
  	WHERE
  		`id` = #{productId}
  
  </select>

  
 </mapper>