<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.project.review.dao.ReviewDAO">

<insert id="insertReview" parameterType="map">
	INSERT 
	INTO `review`
	(
		id
		,productId
		,userId
		,userName
		,content
		,point
		,createdAt
		,updatedAt
	)
	VALUES
	(
		#{orderItemId}
		,#{productId}
		,#{userId}
		,#{userName}
		,#{content}
		,#{point}
		,NOW()
		,NOW()
	)

</insert>

<select id="selectReviewByProductId" parameterType="int" resultType="com.project.review.model.Review">
	SELECT
		`id`
		,`productId`
		,`userId`
		,`userName`
		,`content`
		,`point`
		,`createdAt`
	FROM
		`review`
	WHERE
		`productId` = #{productId} 

</select>

<select id="countReviewByProductId" parameterType="int" resultType="int">
	SELECT
		count(*)
	FROM
		`review`
	WHERE
		`productId` = #{productId} 
</select>

<select id="selectReviewPointByProductId" parameterType="int" resultType="int">
	SELECT
		`point`
	FROM
		`review`
	WHERE
		`productId` = #{productId} 
</select>

<select id="selectReviewByProductIdAndPage" parameterType="map" resultType="com.project.review.model.Review">
	SELECT
		`id`
		,`productId`
		,`userId`
		,`userName`
		,`content`
		,`point`
		,`createdAt`
	FROM
		`review`
	WHERE
		`productId` = #{productId} 

	ORDER BY `id` DESC
	LIMIT #{start}, #{size}

</select>

</mapper>