<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.project.stock.dao.StockDAO">
 <select id="selectStockListByProductId" parameterType="int" resultType="com.project.stock.model.Stock">
 	SELECT 
 		`id`
		, `productId`
		, `size`
		, `quantity`
		, `createdAt`
		, `updatedAt`
 	FROM
 		`stock`
 	WHERE
 		`productId` = #{productId}
	ORDER BY `id` DESC 
 </select>
 
 <insert id="insertStockByProductId" parameterType="map">
 	INSERT 
 	INTO
 		`stock`
 	(
 		`productId`
		, `size`
		, `quantity`
		, `createdAt`
		, `updatedAt`
 	)
 	VALUES
 	( 
 		#{productId}
		, #{size}
		, #{quantity}
		, NOW()
		, NOW()
 	)
 
 </insert>
 
 <update id="updateStockByStockId" parameterType="map">
 	UPDATE `stock`
 	SET
 		`quantity` = #{quantity}
 	WHERE
 		`id` = #{stockId}
 </update>
 
 <delete id="deleteStockByStockId" parameterType="int">
 	DELETE FROM `stock`
 	WHERE 
 		`id` = #{stockId}
 </delete>
 
 </mapper>
