@charset "UTF-8";

a {text-decoration:none !important;}

main {min-height:500px;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar {font-size:20px;}
.dropdown-item {font-size:20px;}

.sign-up-box {width:700px;}
.sign-up-box input {  border: none;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0;}
.sign-up-box .btn-block {border:1px solid;
	border-radius: 0;}
    
.sign-in-box {width:400px;}
.sign-in-box input {  border: none;
    border-bottom: 1px solid #aaaaaa;
    border-radius: 0;}
.sign-in-box .btn-block {border:1px solid;
	border-radius: 0;}
	
.my-page-box {width:400px;}
.my-page-box button{border:1px solid;
	border-radius: 0;
	background-color:white;}
	
.product-list-items-div {border:1px solid #aaaaaa;  
	  aspect-ratio: 16 / 9; }
