@charset "UTF-8";

a {text-decoration:none !important;}

main {min-height:500px;}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar {font-size:20px;}
.dropdown-item {font-size:20px;}